{{!-- 広告バナープレースホルダー --}}
<div class="ad-banner" id="bannerB">
    <div class="ad-banner__content">
        <p class="ad-banner__label">広告</p>
        <div class="ad-banner__placeholder">
            Advertisement
        </div>
    </div>
</div>
