{{!-- Amazon product card component --}}
{{!-- Usage in post content: Use HTML card with data attributes --}}
{{!-- <div data-role="amazonjs" data-asin="XXXX" data-locale="JP"></div> --}}

<div data-role="amazonjs" class="amazonjs_item">
    <div class="amazonjs_indicator">
        <span class="amazonjs_indicator_img"></span>
        <a class="amazonjs_indicator_title" href="#">商品を読み込み中...</a>
        <span class="amazonjs_indicator_footer"></span>
    </div>
</div>
