{{{html}}}
<aside class="cta">
    <div class="cta-container">
            {{#has visibility="paid"}}
                <div class="cta-title">Subscribe today</div>
                <div class="cta-text-main">この記事は有料会員限定です。</div>
                <div class="cta-text-secondary">有料会員の方は、ログインすると続きをご覧いただけます。<br>
                    初月（31日間）無料体験実施中！</div>
            {{/has}}
            {{#has visibility="members"}}
                <div class="cta-title">Subscribe today</div>
                <div class="cta-text-main">ここからは会員登録が必要です。</div>
                <div class="cta-text-secondary">3ヶ月無料で使えるキャンペーン実施中</div>
            {{/has}}
            {{#has visibility="tiers"}}
                <div class="cta-title">Subscribe today</div>
                <div class="cta-text-main">ここからは会員登録が必要です。</div>
                <div class="cta-text-secondary">3ヶ月無料で使えるキャンペーン実施中</div>
            {{/has}}
            {{#if @member}}
                {{> "components/button"
                    text="会員登録する"
                    attributes="data-portal='signin' data-color='gradient' data-size='full' data-font-weight='bold' style='width: 234px'"
                }}
            {{else}}
                {{> "components/button"
                    text="会員登録する"
                    attributes="data-portal='signin' data-color='gradient' data-size='full' data-font-weight='bold' style='width: 234px'"
                }}
            {{/if}}
    </div>
</aside>
