{{#if pagination}}
<nav
    class="pagination dfont"
    role="navigation"
    data-current-page="{{pagination.page}}"
    data-total-pages="{{pagination.pages}}"
    data-first-url="{{page_url 1}}"
    data-second-url="{{page_url 2}}"
>
    <ul class="page-numbers"></ul>
</nav>
{{/if}}
