<div class="gh-canvas">
  <h2 id="social-comment-heading">Comment using your social account:</h2>
  <p class="secondary-text">We will redirect you to our OAuth2.0 app in GitHub. You will be prompted to grant read-only access to your public profile and email address. Powered by <a href="https://www.spectralwebservices.com" target="_blank" rel="noopener noreferrer">SpectralWebServices</a>.</p>

  <a href="https://login.spectralwebservices.com/auth/github?inbound=b89c0c7a-1b79-4c68-b75e-32060012d7ca" class="gh-button" title="Login with GitHub" aria-label="Login with GitHub" rel="noopener">{{> "icons/github"}}</a>
</div>