{{!< default}}
{{!-- Template for /calendar page - showing upcoming release calendar --}}

{{> "components/search-form"}}

{{#match @custom.header_style "!=" "Highlight"}}
    {{> "components/featured" showFeatured=@custom.show_featured_posts limit=4}}
{{/match}}

{{> "components/cta"}}

<div class="gh-content-wrapper">
    <main class="gh-main-content">
        {{> "components/content-menu" active="calendar"}}

        {{!-- Calendar content will go here --}}
        <div class="calendar-container">
            {{!-- Calendar UI will be added here --}}
        </div>

        {{> "components/content-menu" active="calendar"}}
    </main>

    {{> "sidebar"}}
</div>
