{{!< default}}
{{!-- Template for /calendar page - showing upcoming release calendar --}}

{{> "components/search-form"}}

<div id="cat_header">
    {{> "components/breadcrumb"}}
</div>

<div class="gh-content-wrapper">
    <main class="gh-main-content">
        {{> "components/content-menu" active="calendar"}}

        <div class="post-grid category-post-list">
            {{#foreach posts}}
                {{> "post-card"}}
            {{/foreach}}
        </div>

        {{> "pagination"}}
    </main>
    {{> "sidebar"}}
</div>
