{{!< default}}
{{!-- Template for /calendar page - showing upcoming release calendar --}}

{{> "components/search-form"}}

{{> "components/breadcrumb"}}

<div class="gh-content-wrapper">
    <main class="gh-main-content">
        {{> "components/content-menu" active="calendar"}}

        {{> "components/post-list" feed="page" postFeedStyle=@custom.post_feed_style showTitle=false showSidebar=@custom.show_publication_info_sidebar}}
    </main>
    {{> "sidebar"}}
</div>
