{{!< default}}
{{!-- The tag above means: insert everything in this file into the body of the default.hbs template --}}


<main class="gh-main">

    <article class="gh-article">

        <header class="gh-article-header gh-canvas">

        </header>


        <section class="gh-content gh-canvas is-body">

<section class="error-message">
<h1 class="error-code">404</h1>
	<a href="{{@site.url}}" title="Go to the front page of SREDevOps.org or try searching below." referrerpolicy="no-referrer" rel="home">Go to the front page of SREDevOps.org</a> or try searching below. 
Search with Google Custom Search Engine:
<script async src="https://cse.google.com/cse.js?cx=f4d905c360b884054" type="text/javascript">
</script>
<div class="gcse-search"></div>
        </section>

    </article>


</main>


