{{!< default}}
{{#page}}
<main class="arcat-gallery-main">
    <h1 class="arcat-post-list-title">
        {{> "icons/cat-footprint"}}
        <span>Gallery</span>
    </h1>
    <article>
        <section class="arcat-gallery-section">
            {{content}}
        </section>
    </article>
</main>
{{/page}}