{{!< default}}
{{!-- The tag above means: insert everything in this file into the body of the default.hbs template --}}

{{#page}}

<main class="gh-main">
    <article class="gh-gallery-page-article">
        <section>
            {{content}}
        </section>
    </article>
</main>

{{/page}}