{{!< default}}
{{!-- The tag above means: insert everything in this file into the body of the default.hbs template --}}

<div class="home-page">
    {{!-- Hero Section --}}
    <section class="home-hero" style="background-image: url({{img_url @site.cover_image}})">
        <div class="home-hero-overlay"></div>
        <div class="home-hero-content">
            <div class="home-hero-text">
                <h1 class="home-hero-title">Magaco</h1>
                <p class="home-hero-subtitle">
                    あの雑誌に載ったお店が検索できるようになりました！<br>
                    食のプロフェッショナルたちが選んだ<br>
                    蓄積されてここだけの情報をあなたに！
                </p>
            </div>
            <form class="home-search-bar" role="search" action="/search-results" method="GET">
                {{> "components/search-form"}}
            </form>
        </div>
    </section>

    {{!-- New Articles Section --}}
    {{#get "posts" order="published_at desc" limit="3" include="tags,group"}}
        {{> "components/articles-section" posts=posts enTitle="NEW" jaTitle="新着記事" description="Magacoの新着記事を紹介します。" section_type="new" pagination=pagination}}
    {{/get}}

    {{!-- Popular Articles Section --}}
    {{#get "posts" order="published_at desc" limit="3" include="tags,group"}}
        {{> "components/articles-section" posts=posts enTitle="Ranking" jaTitle="人気の記事" description="Magacoの人気の記事を紹介します。" section_type="popular"}}
    {{/get}}

    {{!-- Featured Articles Section --}}
    {{#get "posts" filter="featured:true" order="published_at desc" limit="3" include="tags,group"}}
        {{> "components/articles-section" posts=posts enTitle="Featured" jaTitle="おすすめの記事" description="Magacoの厳選されたおすすめの記事を紹介します" section_type="featured"}}
    {{/get}}

    {{> "components/pickup-tag"}}
    {{> "components/partners"}}
</div>
