{{!< default}}
{{!-- The tag above means: insert everything in this file into the body of the default.hbs template --}}

{{> "components/search-form"}}

{{#match @custom.header_style "!=" "Highlight"}}
    {{> "components/featured" showFeatured=@custom.show_featured_posts limit=4}}
{{/match}}

{{> "components/cta"}}

<div class="gh-content-wrapper">
    <main class="gh-main-content">
        {{> "components/content-menu" active="home"}}

        {{> "components/post-list" feed="home" postFeedStyle=@custom.post_feed_style showTitle=true showSidebar=@custom.show_publication_info_sidebar}}
    </main>

    {{> "sidebar"}}
</div>
<main id="main" class="m-all t-2of3 d-5of7 cf">
    {{> "components/article-card"}}

    <div align="center">
        <p>
            <a href="/page/2/" class="btn raised red-bc strong center">もっと見る</a>
        </p>
    </div>

    {{> "components/pickup-tabs"}}
</main>

{{> "components/post-list" feed="home" postFeedStyle=@custom.post_feed_style showTitle=true showSidebar=@custom.show_publication_info_sidebar}}
