{{!< default}}
{{!-- The tag above means: insert everything in this file into the body of the default.hbs template --}}

{{> "components/header" headerStyle=@custom.header_style}}

{{#match @custom.header_style "!=" "Highlight"}}
    {{> "components/featured" showFeatured=@custom.show_featured_posts limit=4}}
{{/match}}

{{> "components/cta"}}

{{!-- DFI: not using default post list for rendering   --}}
{{!-- {{> "components/post-list" feed="home" postFeedStyle=@custom.post_feed_style showTitle=true showSidebar=@custom.show_publication_info_sidebar}} --}}


<main class="gh-main dfi-home-grid">
    
    {{!-- DFI: call "home-tag-grid" component to render grid for each tag --}}
    <div class="dfi-post-collection">
        {{> "components/home-tag-grid" tag="population"}}
    </div>

    <div class="dfi-post-collection">
        {{> "components/home-tag-grid" tag="health"}}
    </div>


</main>