{{!< default}}
<main class="gh-main">
    {{> "components/post-list"
        sectionTitle="Post"
        hasMore=false
        subSectionTitle="記事一覧"
        limit="all"
        showPagenation=false
    }}
</main>