{{!< default}}
{{!-- The tag above means: insert everything in this file into the body of the default.hbs template --}}

<section class="magazine-section" data-content-api-key="{{content_api_key}}">
    <div class="magazine-hero">
        <div class="magazine-cover-image"></div>
        <img class="magazine-logo-image" alt="">
    </div>
    <div class="magazine-info">
        <h1 class="magazine-name"></h1>
        <p class="magazine-description"></p>
        <a class="magazine-url"></p>
    </div>
</section>

{{> "components/articles-section" enTitle="Featured" jaTitle="特集記事" description="記事をハッシュタグでまとめて特集にしました。" section_type="featured" articlesSectionId="magazine-featured" }}
{{> "components/articles-section" enTitle="NEW" jaTitle="新着記事" description="Magacoの新着記事を紹介します。" section_type="new"  articlesSectionId="magazine-new" }}
{{!--
{{> "components/articles-section" enTitle="Ranking" jaTitle="人気の記事" description="Magacoの人気の記事を紹介します。" section_type="featured" articlesSectionId="magazine-ranking"}} --}}
