{{!< default}}
{{!-- Template for /onsale page - showing posts tagged with "review" --}}

{{> "components/search-form"}}

{{> "components/breadcrumb"}}

<div class="gh-content-wrapper">
    <main class="gh-main-content">
        {{> "components/content-menu" active="onsale"}}

        <div class="post-grid arcat-post-list">
            {{#foreach posts}}
                {{> "post-card"}}
            {{/foreach}}
        </div>

        {{> "pagination"}}
    </main>

    {{> "sidebar"}}
</div>
