{{!< default}}
{{!-- The tag above means: insert everything in this file into the body of the default.hbs template --}}

<main class="post-likes-main" data-content-api-key="{{content_api_key}}">
    <section class="post-likes-section">
        <div class="post-likes-title">
            <div class="post-likes-tagline">Like</div>
            <h1 class="post-likes-heading"></h1>
        </div>

        <div id="liked-posts" class="post-likes-container">
        </div>

        <div class="post-likes-actions">
            {{> "components/button" text="もっと見る"}}
        </div>
    </section>
</main>

<script src="{{asset 'js/post-likes.js'}}"></script>
<link rel="stylesheet" href="{{asset 'css/post-likes.css'}}">
