{{!< default}}

<div class="search_results__page" id="search_results">
    {{!-- Search Filter Section --}}
    <section class="search_results__navbar">
        <div class="search_results__navbar-container">
            <div class="search_results__query">
                <form action="/search-results" method="GET">
                    {{> "components/search-form" inputId="search-results-input"}}
                </form>
            </div>
            <div class="search_results__navbar-header">
                {{> "components/button" text="詳細検索" width="126px" attributes='id="accordion-toggle" aria-expanded="false" aria-controls="accordion-content"' }}
                {{!-- Sort Controls --}}
                <div class="search_results__sort">
                    <label class="search_results__sort-label" id="sort">並び替え</label>
                    <select class="search_results__sort-dropdown" name="sort">
                        <option value="newest">新着順</option>
                        <option value="popular">人気順</option>
                    </select>
                </div>
            </div>

            <div id="accordion-content" class="search_results__accordion" aria-hidden="true">
                <form id="posts" class="search_results__form-form" role="search">
                    <div class="search_results__form-filter">
                    {{!-- タグセクション --}}
                    <div class="search_results__tags">
                        <div class="search_results__tags-title">タグを選択</div>
                        <div class="search_results__tags-grid" id="tag-list">
                            {{#get "tags" filter="visibility:public" order="count.posts desc" limit="10"}}
                                {{#foreach tags}}
                                    {{> "components/button"
                                        text=(concat "#" name)
                                        class="search_results__tag-button"
                                        type="button"
                                        attributes=(concat 'data-tag-slug="' slug '" aria-pressed="false"')
                                    }}
                                {{/foreach}}
                            {{/get}}
                        </div>
                    </div>

                    {{!-- 雑誌セクション --}}
                    <div class="search_results__magazines">
                        <div class="search_results__magazines-title">雑誌を選択</div>
                        <div class="search_results__magazines-grid" id="magazine-list">
                            {{#get "groups"}}
                            {{#foreach groups}}
                                {{> "components/checkbox" name="magazine" value=id id=(concat "group-" id) label=name }}
                            {{/foreach}}
                            {{/get}}
                        </div>
                    </div>
                </div>
                <button class="search_results__filter-button" type="submit">
                    この条件で検索
                </button>
            </form>
            </div>
        </div>
    </section>

    {{!-- Results Content Section --}}
    <main class="search_results__content">
        <div class="search_results__content-container" id="search-results-container">
            <div class="search_results__loading">
                検索中...
            </div>
        </div>
        <div id="load-more" class="search_results__load-more">
            {{> "components/button" text="もっと見る" }}
        </div>
    </main>
    <button type="button" class="search_results__sticky_btn">
        <img src="{{asset "images/icons/sp-sticky-search.svg"}}" alt="詳細検索">
    </button>
</div>
