{{!< default}}
{{!-- The tag above means: insert everything in this file into the body of the default.hbs template --}}

{{#tag}}
<section class="tag-hero" {{#if feature_image}}style="background-image: url({{img_url feature_image size="xl"}})"{{/if}} data-tag-slug="{{slug}}">
    <div class="tag-hero-inner">
        <div class="tag-hero-content">
            <h1 class="tag-hero-title">#{{name}}</h1>
            {{#if description}}
                <p class="tag-hero-description">{{description}}</p>
            {{/if}}
        </div>
    </div>
</section>
{{/tag}}

<section class="tag-posts-section">
    <div class="tag-posts-container">
        <div class="tag-posts-wrapper">
            <div class="tag-posts-grid" id="tag-posts">
                {{#foreach posts limit="15"}}
                    {{> "components/card" post=this}}
                {{/foreach}}
            </div>
            <div class="">
                {{> "components/button" text="もっと見る" attributes='id="load-more-posts"'}}
            </div>
        </div>
    </div>
</section>
