{{!-- Widget: Subscription Banner --}}
<div class="widget widget_block widget-subscription">
    <h4 class="widgettitle">雑誌の定期購読なら</h4>
    <div class="wp-widget-group__inner-blocks">
        <ul class="info_banner">
            <li>
                <a href="//www.fujisan.co.jp/ap-furoku">
                    <img decoding="async" src="{{asset "images/fujisan-logo.png"}}" alt="Fujisan">
                </a>
            </li>
        </ul>
    </div>
</div>
