/* Arcat HomePage Styles */
/* トップページ全体の幅を最大390pxに制限 */
.arcat-home {
    width: 100%;
    margin: 0 auto;           /* テキスト色 */
}

/* メインビジュアル */
.arcat-main-visual {
    margin: 0 auto;
    padding-bottom: 40px;
}

.arcat-key-visual-container {
    position: relative;
    z-index: 0;
}

.arcat-key-visual {
    width: 100%;
    height: auto;
    display: block;
}

.arcat-site-message-wrapper {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: auto;
    padding: 40px 0px;
    margin-top: auto;
    z-index: 2;
    display: flex;
    align-items: flex-end;
    justify-content: center;
}

.arcat-site-message {
    display: flex;
    flex-direction: column;
    gap: 24px;
    align-items: center;
    justify-content: center;
}

.arcat-key-visual-logo {
    width: 230px;
}

/* ボタン */
.arcat-key-visual-button {
    background-color: #FDEC01; /* 例: ゴールド系 */
    color: #000;
    padding: 8px 32px;
    border: none;
    border-radius: 8px;
    font-size: 1.5rem;
    font-weight: 700;
    cursor: pointer;
    text-align: center;
    width: fit-content;
}

.arcat-key-visual-message {
    margin-top: 24px;
    color: #797979;
    font-size: 14px;
    text-align: center;
}

/* セクションのタイトルや要素配置 */
.cat-communication {
    margin: 0 auto;
    padding: 24px 16px 40px;
}


.cat-communication-title {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 8px;
    font-size: 18px;
    font-weight: 700;
    color: #1C1B1B;
    margin-bottom: 16px;
}

.cat-communication-title svg {
    width: 28px;
    height: 24px;
}

.cat-communication-title span {
    text-align: center;
}

.strong-site-title {
    font-weight: 900;
    background: linear-gradient(transparent 60%, #FDEC01 30%);
    display: inline-block;
}

.arcat-tyatora-message {
    position: relative;
    margin-top: 24px;
}

.arcat-tyatora-message p {
    font-weight: 700;
    font-size: 18px;
    display: inline-block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    white-space: nowrap;
}

/* 猫のイラスト・写真の共通スタイル */
.arcat-tyatora,
.arcat-shironeko,
.arcat-black-cat {
    width: 100%;
    height: auto;
    object-fit: cover;
}

.arcat-shirohuwaneko {
    width: 100%;
    height: auto;
    object-fit: cover;
    margin-top: -16px;
}

.experts-content {
    margin: 0 auto;
    padding: 24px 16px 40px;
    background: #FFFAB9;
}

/* リンクグループ（メディアを探す / ユーザーを探す 等） */
.arcat-link-group {
    display: flex;
    gap: 8px;
    justify-content: center;
    margin-top: 16px;
}

.arcat-link-group a {
    border-radius: 8px;
    background: #1C1B1B;; /* 例: 薄い黄色 */
    color: #fff;
    text-decoration: none;
    padding: 8px 24px;
    font-weight: 700;
    font-size: 1.5rem;
}

.premium {
    margin: 0 auto;
    padding: 24px 16px 40px;
    background: #F8F6F2;
}
/* プレミアムセクション */
.premium-label {
    font-size: 18px;
    font-weight: bold;
    color: #F00; /* 例: 赤文字 */
    text-align: center;
}

.arcat-premium-link-group {
    display: flex;
    justify-content: center;
    margin-top: 16px;
}

.arcat-premium-link {
    padding: 8px 24px;
    background-color: #FDEC01;
    color: #000;
    text-decoration: none;
    border-radius: 8px;
    font-weight: 700;
    font-size: 14px;
}

/* Arcat’s Post */
.arcat-post {
    margin: 0 auto;
    padding: 24px 16px 40px;
}

.arcat-post-subtitle {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.arcat-post-subtitle h3 {
    font-size: 18px;
    font-weight: 700;
    color: #000;
}

.arcat-post-more {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 4px;
    width: fit-content;
    text-decoration: none;
    color: #999;
    font-weight: 700;
    font-size: 14px;
}

.arcat-post-more span::after {
    content: '→';
    color: #999;
    margin-left: 4px; /* テキストと矢印の間隔 */
    font-weight: 700;
    font-size: 14px;
}

.arcat-post-list {
    margin-top: 16px;
}

.arcat-post-item {
    border-top: 1px solid #ddd;
    padding-top: 16px;
    padding-bottom: 16px;
    overflow: hidden;
}

.arcat-post-item a {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-decoration: none;
    gap: 16px;
}

.arcat-post-item a::after {
    content: '>';
    color: #000;
    text-align: right;
    font-weight: 700;
    font-size: 20px;
    margin-left: 16px;
}

.arcat-post-item-image {
    width: 80px;
    height: 80px;
    object-fit: cover;
}

.arcat-post-title {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    gap: 16px;
    width: 100%;
}

.arcat-post-title h4 {
    font-size: 14px;
    font-weight: 700;
}

.arcat-post-meta {
    font-size: 14px;
    color: #666;
    display: flex;
    justify-content: flex-start;
    gap: 8px;
}

/* ギャラリー */
.arcat-gallery {
    margin: 0 auto;
    padding: 24px 16px 40px;
}

.arcat-gallery-link-group {
    display: flex;
    justify-content: center;
    margin-top: 16px;
}

.arcat-gallery-link {
    padding: 8px 24px;
    background-color: #000;
    color: #fff;
    text-decoration: none;
    border-radius: 8px;
    font-weight: 700;
    font-size: 14px;
}

