/* Arcat Header Styles */
.arcat-header {
    position: relative;
    height: 60px;
    width: 100%;
    background-color: #fff;
    padding: 12px 15px;
}

.arcat-header-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.arcat-logo-wrapper {
    display: flex;
    align-items: flex-end;
    gap: 8px;
}

.arcat-logo {
    width: 80px; /* 幅を縮小 */
    height: 20px; /* 高さを縮小 */
}


.arcat-logo-text {
    width: 50px; /* 幅を縮小 */
    height: 8px; /* 高さを縮小 */
}

.arcat-nav-user{
    display: flex;
    align-items: center;
    margin-left: auto;
}

.arcat-user-avatar {
    width: 28px;
    height: 28px;
    border-radius: 50%;
}

.arcat-nav-user-avatar-placeholder {
	width: 28px;
	height: 28px;
	border-radius: 50%;
	background-color: #999999;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #ffffff;
    font-size: 1.1rem;
    font-weight: bold;
    text-transform: uppercase;
}

.arcat-nav-user-initial {
    line-height: 1;
}

.arcat-nav {
    display: flex;
    align-items: center;
    gap: 8px;
}

.arcat-login, .arcat-signup {
    display: inline-block;
    padding: 8px 12px;
    font-size: 1.2rem;
    font-weight: 700;
}

.arcat-login {
    color: #000;
    border-bottom: 3px solid #FDEC01;;
}

.arcat-signup {
    color: #000;
    border-bottom: 3px solid #000;
}

.arcat-menu-button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 32px;
    height: 32px;
    background: none;
    border: none;
    cursor: pointer;
    padding: 0;
    margin-left: 6px;
}

@media screen and (width >= calc(900px + 10vw)) {
    .arcat-menu-button {
        display: none;
    }
}

.arcat-hamburger {
    width: 28px;
    height: 24px;
}

.arcat-hamburger svg:last-child {
    display: none;
}

.is-open .arcat-hamburger svg:first-child {
    display: none;
}

.is-open .arcat-hamburger svg:last-child {
    display: block;
}

.arcat-nav-menu {
    position: absolute;
    top: 60px;
    right: 0;
    width: 50%;
    height: calc(100% - 60px);
    background-color: #fff;
    transform: translateX(100%);
    transition: transform 0.3s ease-in-out;
    pointer-events: none;
    z-index: 200;
    visibility: hidden;
    opacity: 0;
}

.is-open.arcat-nav-menu {
    transform: translateX(0);
    pointer-events: auto; /* 表示時はクリック可能 */
    visibility: visible; /* メニューを表示 */
    opacity: 1; /* メニューを不透明に */
}

.arcat-nav-overlay {
    position: absolute;
    top: 60px;
    right: 0;
    width: 100%;
    height: calc(100% - 60px);
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 199;
    visibility: hidden;
    opacity: 0;
}

.is-open.arcat-nav-overlay {
    pointer-events: none;
    transition: opacity 0.3s ease-in-out;
    visibility: visible;
    opacity: 1;
}

.arcat-nav-menu-primary {
    display: flex;
    flex-direction: column;
    gap: 16px;
    padding: 40px 20px;
}

.arcat-nav-menu-primary ul {
    list-style: none;
    margin: 0;
    display: flex;
    flex-direction: column;
    gap: 16px;
    padding: 0;
}

.arcat-nav-menu-primary li a {
    text-decoration: none;
    color: #000;
    flex: 1;
    font-weight: 700;
    font-size: 1.2rem;
}

.arcat-nav-menu-external-link {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: #000;
    flex: 1;
    font-weight: 700;
    font-size: 1.2rem;
}

.arcat-nav-menu-external-link svg {
    width: 20px;
    height: 20px;

}

.arcat-nav-menu-signout {
    color: #EEBB08CC;
    font-weight: 700;
    font-size: 1.2rem;
}