/* Arcat PostList Styles */
/* トップページ全体の幅を最大390pxに制限 */
.arcat-post-list-section {
    width: 100%;
    margin: 0 auto;
    padding: 24px 16px 40px;
}

.arcat-post-list-title {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 8px;
    font-size: 18px;
    font-weight: 700;
    color: #1C1B1B;
    margin-bottom: 16px;
}

.arcat-post-list-title svg {
    width: 28px;
    height: 24px;
}

.arcat-post-list-title span {
    text-align: center;
}

.arcat-post-list-subtitle {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.arcat-post-list-subtitle h3 {
    font-size: 18px;
    font-weight: 700;
    color: #000;
}

.arcat-post-list-more {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 4px;
    width: fit-content;
    text-decoration: none;
    color: #999;
    font-weight: 700;
    font-size: 14px;
}

.arcat-post-list-more span::after {
    content: '→';
    color: #999;
    margin-left: 4px;
    font-weight: 700;
    font-size: 14px;
}

.arcat-post-list-subtitle-no-more {
    font-size: 18px;
    font-weight: 700;
    color: #000;
}

.arcat-post-list {
    margin-top: 16px;
}

.arcat-post-item {
    border-top: 1px solid #ddd;
    padding-top: 16px;
    padding-bottom: 16px;
    overflow: hidden;
}

.arcat-post-item a {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-decoration: none;
    gap: 16px;
}

.arcat-post-item a::after {
    content: '>';
    color: #000;
    text-align: right;
    font-weight: 700;
    font-size: 20px;
    margin-left: 16px;
}

.arcat-post-item-image {
    width: 80px;
    height: 80px;
    object-fit: cover;
}

.arcat-post-title {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    gap: 16px;
    width: 100%;
}

.arcat-post-title h4 {
    font-size: 14px;
    font-weight: 700;
}

.arcat-post-meta {
    font-size: 14px;
    color: #666;
    display: flex;
    justify-content: flex-start;
    gap: 8px;
}
