.articles-section {
    padding: var(--space-5xl) var(--space-lg);
    row-gap: var(--space-4xl);
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, auto);
    grid-template-areas:
        "header header header"
        "card   card   card"
        "button button button";
}

.articles-section[data-section-type="new"] {
    background-color: var(--color-bg-new-articles);
}

.articles-section[data-section-type="popular"] {
    background-color: var(--color-bg-popular-articles);
}

.articles-section[data-section-type="featured"] {
    background-color: var(--color-bg-featured-articles);
}

.articles-section-header {
    grid-area: header;
    text-align: center;
    display: grid;
    grid-template:
        "label"
        "." 12px
        "title"
        "." 20px
        "description";
}

.articles-section-label {
    grid-area: label;
    font: var(--heading-xxs);
}

.articles-section-title {
    grid-area: title;
    font: var(--heading-l);
}

.articles-section-description {
    grid-area: description;
    font: var(--text-regular-regular);
}

.articles-section-card {
    grid-area: card;
    display: grid;
    gap: var(--space-4xl);
    justify-content: center;
}

.articles-section-action {
    grid-area: button;
    justify-items: center;

    * {
        width: 270px;
    }
}

@media (width >= 1440px) {
    .articles-section {
        padding: 112px 67px;
        row-gap: var(--space-6xl);
    }

    .articles-section-header {
        grid-template:
            "label"
            "." 16px
            "title"
            "." 24px
            "description";
    }

    .articles-section-title {
        font: var(--heading-xl);
    }

    .articles-section-description {
        font: var(--text-medium-regular);
    }

    .articles-section-card {
        --gap: 29px;
        --column-max-count: 3;
        --column-min-width: 416px;
        grid-template-columns: repeat(
            var(--column-max-count),
            var(--column-min-width)
        );
        gap: 29px;
    }
}
