.button {
    /* Layout */
    display: grid;
    place-content: center;

    /* Size */
    padding: 10px var(--space-xl);
    height: 42px;

    /* Typography */
    font: var(--text-regular-medium);
    letter-spacing: var(--letter-spacing-wide-xs);
    color: var(--color-text-primary);
    text-align: center;
    white-space: nowrap;

    /* Background & Border */
    background-color: var(--color-white);
    border: 1px solid transparent;
    border-radius: 100px;

    /* Effects */
    cursor: pointer;
    transition: all 0.3s ease;

    /* Reset browser defaults */
    appearance: none;
    text-decoration: none;

    &:not(:disabled):hover {
        opacity: 0.8;
        transition: opacity 0.1s ease;
    }

    &:disable {
        opacity: 0.5;
        cursor: not-allowed;
    }

    &[data-color="gradient"] {
        background-image: var(--gradient-primary);
    }

    &[data-size="full"] {
        width: 100%;
    }
}
