.card {
    display: grid;
    border-radius: var(--radius-md);
    grid-template-rows: 234px auto;
    width: 335px;
}

.card-image {
    display: grid;
    column-gap: var(--space-xl);
    grid-template-columns: repeat(3, auto);
    grid-template-rows: repeat(3, 1fr);
    grid-template-areas:
        ". . like-button"
        ". . ."
        "magazine-logo . .";
    height: 234px;

    .post-feature-image {
        grid-area: 1 / 1 / -1 / -1;
        display: grid;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        border-radius: var(--radius-md) var(--radius-md) 0 0;
    }

    .post-magazine-logo {
        grid-area: magazine-logo;
        display: grid;
        width: 117px;
        height: 46px;
        background-color: var(--color-white);
        border-radius: var(--radius-sm) var(--radius-sm) 0 0;
        background-size: 80%;
        background-position: center;
        background-repeat: no-repeat;
        align-self: flex-end;
        margin-inline-start: 9.58px;
        z-index: 1;
    }

    .card-like-button {
        grid-area: like-button;
        justify-self: flex-end;
        margin-inline-end: 22.5px;
        margin-block-start: 24px;
    }
}

.card-content {
    display: grid;
    grid-template:
        "tag tag"
        ". ." 8px
        "title title"
        ". ." 16px
        "excerpt excerpt"
        ". ." 24px
        "date readmore";
    padding: var(--space-2xl);
    border-radius: 0 0 var(--radius-md) var(--radius-md);
    background-color: var(--color-white);

    &[data-card-color="new"] {
        background-color: var(--color-bg-new-card);
    }

    &[data-card-color="popular"] {
        background-color: var(--color-bg-popular-card);
    }

    &[data-card-color="featured"] {
        background-color: var(--color-bg-featured-card);
    }

    .card-tags {
        grid-area: tag;
        display: flex;
        flex-wrap: wrap;
        column-gap: 0.5rem;
        font: var(--text-regular-bold);
    }

    .card-title {
        grid-area: title;
        font: var(--heading-m);
    }

    .card-excerpt {
        grid-area: excerpt;
        font: var(--text-regular-regular);
        -webkit-line-clamp: 3;
        -webkit-box-orient: vertical;
        display: -webkit-box;
        overflow: hidden;
        align-self: flex-start;
    }

    .card-date {
        grid-area: date;
        align-self: flex-end;
        font: var(--haeding-xxs);
    }

    .card-readmore {
        grid-area: readmore;
        font: var(--text-regular-regular);
        justify-self: flex-end;
        display: flex;
        column-gap: var(--space-xs);
        align-items: center;
        align-self: flex-end;
    }
}

@media screen and (width >= 1440px) {
    .card {
        width: 416px;
    }
}

.card[data-transparent="true"] {
    .card-image .post-feature-image {
        border-radius: var(--radius-md);
    }

    .post-magazine-logo {
        margin-inline-start: 40px;
    }

    .card-content {
        grid-template:
            "tag tag"
            ". ." 16px
            "title title"
            ". ." 8px
            "excerpt excerpt"
            ". ." 24px
            "date readmore";
        padding: var(--space-2xl) 0 0 0;
    }
}
