.my-checkbox {
    display: block;
    position: relative;
    padding-inline-start: calc(17px + var(--space-md));
    cursor: pointer;
    user-select: none;

    input {
        display: none;
    }

    input:checked + .checkmark {
        background-color: var(--color-white);
    }

    input:checked + .checkmark:after {
        opacity: 1;
        border-color: var(--color-black);
    }
}

.checkmark {
    position: absolute;
    top: 4px;
    left: 0;
    height: 17px;
    width: 17px;
    border: solid 1px var(--color-white);
    box-sizing: border-box;

    &:after {
        content: "";
        position: absolute;
        left: 4px;
        top: 1px;
        width: 6px;
        height: 10px;
        border: solid #fff;
        border-width: 0 2px 2px 0;
        transform: rotate(45deg);
        opacity: 0;
    }
}
