.link-button {
    font: var(--text-regular-medium);
    color: var(--color-text-primary);
    background: var(--color-bg-gray);
    letter-spacing: var(--letter-spacing-wide-xs);
    text-decoration: none;
    white-space: nowrap;
    display: grid;
    grid-template-columns: auto auto;
    justify-content: center;
    align-items: center;
    column-gap: var(--space-xs);
    padding: 11px var(--space-4xl);
    border-radius: var(--radius-full);
    height: 44px;
    transition: opacity 0.1s ease;

    &[data-color="white"] {
        background: var(--color-white);
    }

    &[data-color="gray"] {
        background: var(--color-bg-gray);
    }

    img {
        height: auto;
        flex-shrink: 0;
        vertical-align: middle;
        width: 24px;
        height: 24px;
    }

    &:hover {
        opacity: 0.8;
    }
}
