.magazine-hero {
    display: grid;
    grid-template-columns: 64px 1fr 1fr 64px;
    grid-template-rows: 1fr auto;
}

.magazine-cover-image {
    background-size: cover;
    background-position: center;
    min-height: 183px;
    width: 100%;
    grid-area: 1 / 1 / 3 / 5;
    border-bottom: 1px solid var(--color-white);
}

.magazine-logo-image {
    grid-area: 2 / 2 / 3 / 4;
    width: 257px;
    height: 101px;
    object-fit: contain;
    background-color: var(--color-white);
    border-radius: var(--radius-sm) var(--radius-sm) 0 0;
}

.magazine-info {
    display: grid;
    grid-row-gap: var(--space-lg);
    padding: var(--space-3xl) var(--space-lg);
}

.magazine-name {
    font: var(--heading-m);
}

.magazine-description {
    font: var(--text-regular-regular);
}

.magazine-url {
    font: var(--text-regular-regular);
}

@media (768px <= width) {
    .magazine-logo-image {
        width: 180px;
        height: 71px;
    }

    .magazine-info {
        padding: 40px 64px 56px 64px;
    }

    .magazine-name {
        font: var(--heading-xl);
    }

    .magazine-description {
        width: 563px;
    }
}
