/* Pickup Tag Component Styles
   ---------------------------------------------------------- */

/* Base Component Styles */
.pickup-tag {
    background: var(--color-white);
    padding-block: var(--space-4xl);
    max-width: var(--container-max-width);
}

.pickup-tag-container {
    display: grid;
    grid-template:
        "content"
        "." 48px
        "image"
        "." 48px
        "link";
    justify-content: center;
    padding-inline: var(--space-lg);
}

.pickup-tag-content {
    grid-area: content;
    display: grid;
    grid-template:
        "label"
        "." 12px
        "title"
        "." 20px
        "description";
}

.pickup-tag-label {
    grid-area: label;
    font: var(--heading-xxs);
}

.pickup-tag-title {
    grid-area: title;
    font: var(--heading-l);
    letter-spacing: var(--letter-spacing-wide-2xl);
    line-height: var(--line-height-tight);
}

.pickup-tag-description {
    grid-area: description;
    font: var(--text-regular-regular);
    line-height: var(--line-height-relaxed);
}

.pickup-tag-image {
    grid-area: image;
    overflow: hidden;
    object-fit: cover;
    justify-items: center;

    img {
        width: 335px;
        height: 348px;
        object-fit: cover;
        border-radius: var(--radius-lg);
    }
}

.pickup-tag-action {
    grid-area: link;
    display: flex;
    justify-content: center;
    text-align: center;
}

@media (width >= 1025px) {
    .pickup-tag {
        padding-block: var(--space-7xl);
        margin-inline: auto;
    }

    .pickup-tag-container {
        grid-template:
            "content image"
            ". image" 32px
            "link image" / 50% 50%;
        column-gap: 1rem;
        padding-inline: var(--space-5xl);
    }

    .pickup-tag-content {
        grid-template:
            "label"
            "." 16px
            "title"
            "." 24px
            "description";
        align-content: end;
    }

    .pickup-tag-header {
        gap: var(--space-xl);
    }

    .pickup-tag-title {
        font: var(--heading-xl);
        letter-spacing: var(--letter-spacing-wide-4xl);
    }

    .pickup-tag-description {
        font: var(--text-medium-regular);
        letter-spacing: var(--letter-spacing-wide-md);
    }

    .pickup-tag-btn {
        padding: 10px var(--space-6xl);
        font: var(--text-regular-bold);
        min-width: 240px;
    }

    .pickup-tag-image {
        justify-items: flex-end;

        img {
            width: 616px;
            height: 640px;
            object-fit: cover;
        }
    }

    .pickup-tag-action {
        display: block;
        justify-content: flex-start;
        text-align: left;

        a {
            width: 270px;
        }
    }
}
