.post-likes-main {
    padding: var(--space-5xl) var(--space-lg);
    background-color: #f4f4f4;
}

.post-likes-section {
    display: grid;
    row-gap: var(--space-4xl);
}

.post-likes-title {
    display: grid;
    row-gap: var(--space-sm);
    text-align: center;
}

.post-likes-tagline {
    font: var(--heading-xxs);
}

.post-likes-heading {
    font: var(--heading-l);
}

.post-likes-container {
    --card-min-width: 335px;
    display: grid;
    justify-self: center;
    row-gap: var(--space-4xl);
    grid-template-columns: repeat(
        auto-fill,
        minmax(var(--card-min-width), 1fr)
    );
    justify-self: center;
    justify-items: center;
    gap: var(--space-4xl) 29px;
    width: 100%;
}

.post-likes-actions {
    display: none;
    margin-inline: auto;
    width: 80%;
}

@media (width >= 1440px) {
    .post-likes-main {
        padding: var(--space-7xl) var(--space-5xl);
    }

    .post-likes-section {
        row-gap: var(--space-6xl);
    }

    .post-likes-title {
        display: grid;
        row-gap: var(--space-sm);
        text-align: left;
    }

    .post-likes-container {
        --card-min-width: 416px;
        gap: 80px 29px;
    }
}

@media (width > 375px) {
    .post-likes-actions {
        width: 222px;
    }
}
