.post-likes-main {
    padding: var(--space-5xl) var(--space-lg);
    background-color: #f4f4f4;
}

.post-likes-section {
    display: grid;
    row-gap: var(--space-4xl);
}

.post-likes-title {
    display: grid;
    row-gap: var(--space-sm);
    text-align: center;
}

.post-likes-tagline {
    font: var(--heading-xxs);
}

.post-likes-heading {
    font: var(--heading-l);
}

.post-likes-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(var(--min), 1fr));
    gap: clamp(16px, 2vw, 24px);
}

.post-likes-actions {
    display: none;
    margin-inline: auto;
}

@media (width >= 1025px) {
    .post-likes-main {
        padding: var(--space-7xl) var(--space-5xl);
    }

    .post-likes-section {
        row-gap: var(--space-6xl);
    }

    .post-likes-title {
        display: grid;
        row-gap: var(--space-sm);
        text-align: left;
    }

    .post-likes-container {
        --min: 416px;
    }
}
