.transparent-card {
    display: grid;
    row-gap: var(--space-xl);
}

.transparent-card-image {
    display: grid;
    column-gap: var(--space-xl);
    grid-template: "stack" / 1fr;
    height: 234px;

    a:first-child {
        grid-area: stack;
        display: grid;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        border-radius: var(--radius-md);
    }

    a:nth-child(2) {
        grid-area: stack;
        display: grid;
        width: 117px;
        height: 46px;
        background-color: var(--color-white);
        border-radius: var(--radius-sm) var(--radius-sm) 0 0;
        background-size: contain;
        background-position: center;
        background-repeat: no-repeat;
        align-self: flex-end;
        margin-inline-start: 40px;
        z-index: 1;
    }
}

.transparent-card-content {
    display: grid;
    grid-template:
        "tag tag"
        ". ." 16px
        "title title"
        ". ." 8px
        "excerpt excerpt"
        ". ." 24px
        "date readmore";

    .transparent-card-tags {
        grid-area: tag;
        display: flex;
        column-gap: 0.5rem;
        font: var(--text-large-bold);
    }

    .transparent-card-title {
        grid-area: title;
        font: var(--heading-m);
    }

    .transparent-card-excerpt {
        grid-area: excerpt;
        font: var(--text-regular-regular);
        -webkit-line-clamp: 3;
        -webkit-box-orient: vertical;
        display: -webkit-box;
        overflow: hidden;
    }

    .transparent-card-date {
        grid-area: date;
        font: var(--haeding-xxs);
    }

    .transparent-card-readmore {
        grid-area: readmore;
        font: var(--text-regular-regular);
        justify-self: flex-end;
        display: flex;
        column-gap: var(--spacing-xs);
    }
}

@media screen and (width >= 1440px) {
    .transparent-card {
        width: 416px;
    }
}
