/* Calendar page styles */
a.btn-simple,
a.btn-simple:hover {
    border: 1px #DDD solid;
    border-radius: 40px;
    padding: 4px 10px;
    text-align: center;
    display: inline-block;
    background: #FFF;
    color: #df744a;
    text-decoration: none;
    margin: 1em 0 1em 4px;
    min-width: 130px;
    font-size: 18px;
}

.cardtype,
.sidelong {
    margin-bottom: 1em;
}

#past_sale,
#recent_sale {
    margin: 0 0 30px 0;
}

#past_sale p,
#recent_sale p {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    unicode-bidi: isolate;
}

#past_sale span,
#recent_sale span {
    width: 30%;
    height: 35px;
    margin: 0 5px 15px 5px;
    float: left;
}

#past_sale small,
#recent_sale small {
    font-size: 13px;
}

#past_sale span a,
#recent_sale span a {
    display: block;
    text-align: center;
    line-height: 35px;
    color: #231F20;
    text-decoration: none;
    background: #FFFFFF;
}

/* Onsale page title */
.onsale-title {
    font-size: 24px;
    margin: 20px 0;
    font-weight: bold;
}

/* Calendar detail page styles */
p.bar-day {
    clear: both;
    display: block;
    background: #fedcd2;
    color: #df744a;
    padding: 2px 10px;
    font-size: 1.8em;
    margin: 1em 4px 0.5em 4px;
    width: calc(100% - 8px);
}

.calendar__article {
    border: 1px #DDD solid;
    background: #FFF;
    padding: 10px 20px;
    margin: -1px 4px 0 4px;
    width: calc(100% - 8px);
    min-height: 170px;
    overflow: hidden;
}

p.calendar__img {
    display: inline-block;
    float: left;
    width: 150px;
}

p.calendar__img img {
    width: 150px;
    height: 150px;
}

a.calendar__link-inline-info {
    color: #666;
    text-decoration: none;
    display: inline-block;
    width: calc(100% - 160px);
    padding: 18px 0 10px 15px;
}

.calendar__article-info {
    display: block;
}

.calendar__article-info-title {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
    font-size: 18px;
}

.calendar__article-info-appendix {
    display: block;
    font-size: 14px;
    line-height: 2em;
    margin-top: 1em;
}
