<div id="cat_header">
    <nav id="breadcrumb">
        <ul itemscope itemtype="http://schema.org/BreadcrumbList">
            <li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
                <a href="{{@site.url}}" itemprop="item">
                    <span itemprop="name">ホーム</span>
                </a>
                <meta itemprop="position" content="1">
            </li>
        </ul>
    </nav>
</div>