{{!--
Button Component
Usage: {{> "components/button" text="Button Text" attributes='data-foo="bar"'}}

Parameters:
- text: Button text content (required)
- type: Button type - "button", "submit", "reset" (default: "button")
- attributes: Additional HTML attributes as a string (optional)
- disabled: Boolean to disable the button (optional)
--}}

<button
    type="{{#if type}}{{type}}{{else}}button{{/if}}"
    class="button"
    {{#if disabled}}disabled{{/if}}
    {{{attributes}}}
>
    {{text}}
</button>
