<div class="wrap cf pickup">
    <div class="m-1of3 t-1of3 d-1of3 cf tab-date">
        <a href="/" class="btn-pickup{{#match active "home"}} active{{/match}}"{{#match active "home"}} aria-current="page"{{/match}}>
            投稿日順
        </a>
    </div>
    <div class="m-1of3 t-1of3 d-1of3 cf tab-review">
        <a href="/onsale" class="btn-pickup{{#match active "onsale"}} active{{/match}}"{{#match active "onsale"}} aria-current="page"{{/match}}>
            開封レビュー
        </a>
    </div>
    <div class="m-1of3 t-1of3 d-1of3 cf tab-calendar">
        <a href="/calendar/" class="btn-pickup{{#match active "calendar"}} active{{/match}}"{{#match active "calendar"}} aria-current="page"{{/match}}>
            発売カレンダー
        </a>
    </div>
</div>
