<div class="content-menu-wrap">
    <div class="content-menu-item tab-date">
        <a href="/" class="content-menu-link{{#match active "home"}} active{{/match}}"{{#match active "home"}} aria-current="page"{{/match}}>
            投稿日順
        </a>
    </div>
    <div class="content-menu-item tab-review">
        <a href="/onsale" class="content-menu-link{{#match active "onsale"}} active{{/match}}"{{#match active "onsale"}} aria-current="page"{{/match}}>
            開封レビュー
        </a>
    </div>
    <div class="content-menu-item tab-calendar">
        <a href="/calendar/" class="content-menu-link{{#match active "calendar"}} active{{/match}}"{{#match active "calendar"}} aria-current="page"{{/match}}>
            発売カレンダー
        </a>
    </div>
</div>
