<div class="arcat-fixed-naigation">
    <nav class="arcat-fixed-naigation-list">
		{{navigation}}
	</nav>
	{{#unless @member}}
		<a class="arcat-signin-link" href="#/portal/signin" data-portal="signin">
			Arcatをはじめよう
        </a>
	{{/unless}}
</div>