<footer class="arcat-footer">
    <div class="arcat-footer-logo-container">
        <img class="arcat-footer-logo" src="{{asset "images/arcat-footer-logo.svg"}}" alt="Arcat" />
    </div>
    <nav class="arcat-footer-menu">
        {{navigation type="secondary"}}
    </nav>
    <p class="arcat-footer-copyright">
        &copy; 2025 FUJISAN MAGAZINE SERVICE Co., Ltd.
    </p>
</footer>