<footer class="gh-footer">
    {{!-- TODO: {{@site.title}}で受けて改行する --}}
    <h2 class="gh-footer-site-title"> YUTA WATANABE’s<br />Locker Room</h2>
    <nav class="gh-footer-menu">
        {{navigation type="secondary"}}
    </nav>
    <div class="gh-footer-links">
        {{!-- TODO: adminからSNSアカウントの設定があるものを表示する --}}
        <a class="gh-footer-social-link" href="https://www.instagram.com/yutawatanabe12" target="_blank"
            rel="noopener">{{> "icons/instagram"}}</a>
        <a class="gh-footer-social-link" href="https://x.com/wacchi1013" target="_blank" rel="noopener"> {{>
            "icons/x"}}</a>
    </div>
    <small class="gh-footer-copyright">&copy; 2024 {{@site.title}} </small>
</footer>