<footer class="gh-footer has-accent-color gh-outer">
    <div class="gh-footer-inner gh-inner">
        <div class="gh-footer-bar">
            <div class="gh-footer-about limit-width">
                <p><i>Citation Needed</i> features critical coverage of the cryptocurrency industry and of issues in the broader technology world.</p>
                <p>It is independently published by Molly White, and entirely supported by readers like you.</p>
                {{#if @site.members_enabled}}
                    {{#if @member}}
                        <p>
                            <i>Thank you.</i>
                        </p>
                    {{else}}
                        <div>
                            <a class="gh-button on-dark" href="/signup">Subscribe</a>
                        </div>
                    {{/if}}
                {{/if}}
            </div>
            <div class="gh-footer-menu-wrapper">
                <nav class="gh-footer-menu">
                    {{navigation}}
                </nav>
                <nav class="gh-footer-menu">
                    {{navigation type="secondary"}}
                </nav>
            </div>
        </div>
        <div class="gh-footer-copyright">
            &copy; {{date format="YYYY"}} Molly White.
        </div>
    </div>
</footer>