<footer class="gh-footer footer gh-outer">
    <div class="gh-footer-inner gh-inner">
        <div class="footer-container">
            <div class="footer-links">
                <div class="footer-group footer-group-left">
                    <ul class="footer-nav">
                        <li><a href=""><span>女性ファッション雑誌</span></a></li>
                        <li><a href=""><span>その他雑誌</span></a></li>
                        <li><a href=""><span>全雑誌</span></a></li>
                    </ul>
                </div>
                <div class="footer-group footer-group-center">
                    <ul class="footer-nav">
                        <li><a href=""><span>初めての方へ</span></a></li>
                        <li><a href=""><span>会社概要</span></a></li>
                        <li><a href="/" target="_blank" rel="noopener"><span>宝島社の雑誌</span></a></li>
                    </ul>
                </div>
                <div class="footer-group footer-group-right">
                </div>
            </div>
            <div class="footer-bottom">
                <div class="footer-copyright">
                    © 2018 Fujisan.co.jp All rights reserved.
                </div>
            </div>
        </div>
    </div>
</footer>