<section class="gh-home-contents">
    <div class="gh-home-contents-inner ">
        <div class="gh-home-contents-head">
            <h2 class="gh-home-contents-head-title">Gallery</h2>
            <div class="gh-home-contents-head-more">
                <span>もっとみる</span>
                {{> "icons/more-read"}}
            </div>
        </div>
        <div class="gh-home-gallery-feed">
            <article class="gh-home-gallery-card">
                {{!-- TODO: galleryページから取得する --}}
                <a href="/gallery">
                    <img src="../../assets/images/gallery-thum-ywlr.jpeg" alt="Gallery Thumbnail" class="gh-gallery-thumbnail">
                </a>
            </article>
        </div>
    </div>
</section>