<section class="gh-header-container">
    <img class="gh-header-image" src="{{asset "images/home-header-ywlr.jpeg"}}" alt="{{@site.title}}">
    <div class="gh-header-title-wrapper">
        <div class="gh-header-title">
            {{> "components/header-logo"}}
        </div>

        {{^if @member.paid}}
            {{! TODO: Buttonコンポーネントにする }}
            <a class="gh-header-link" href="/about">Locker Roomとは？</a>
        {{/if}}
    </div>
</section>