<section class="gh-header is-{{#match headerStyle "Magazine"}}magazine{{else match headerStyle "Highlight"}}highlight{{else}}classic{{/match}}{{#if @custom.background_image}}{{#if @site.cover_image}} has-image{{/if}}{{/if}} gh-outer">

    {{!-- Background image --}}
    {{#if @custom.background_image}}
        {{#match headerStyle "!=" "Magazine"}}
        {{#match headerStyle "!=" "Highlight"}}
            {{#if @site.cover_image}}
            <img class="gh-header-image" src="{{asset "images/home-header-ywlr.jpeg"}}" alt="{{@site.title}}">
            {{/if}}
        {{/match}}
        {{/match}}
    {{/if}}

    <div class="gh-header-inner gh-inner">

        {{!-- Landing layout --}}
        {{#match headerStyle "Landing"}}
            <div class="gh-header-title is-title">
                {{> "components/header-logo"}}
            </div>
        {{/match}}
    </div>

</section>