<div class="gh-container is-list gh-outer">
  <div class="gh-container-inner gh-inner">
    {{!-- DFI: added inline class because "display:none" was coming up through above classes / can use class also --}}
    <h2 class="gh-container-title" style="display: block;">{{tag}}</h2> 
    <main class="gh-main">
      <div class="gh-feed" style="">
        {{#get "posts" limit="1" filter="primary_tag:{{tag}}+tag:overview"}}
          {{#foreach posts}}
            {{> "overview-card" lazyLoad=true}}
          {{/foreach}}
        {{/get}}
      </div>
    </main>
  </div>
</div>

<div class="gh-feed">
  {{#get "posts" limit="1" filter="primary_tag:{{tag}}+featured:true"}}
    {{> "components/post-list" feed="archive" postFeedStyle="List" showTitle=false showSidebar=false}} 
  {{/get}}
</div>