<div id="mobile-site-settings-panel" class="toggle">
    <form name="theme" id="theme">
      <input type="radio" id="light" name="theme" value="light"/>
      <label for="light">{{> "icons/sun"}}</label>
      <input type="radio" id="automatic" name="theme" value="automatic" />
      <label for="automatic">{{> "icons/cancel"}}</label>
      <input type="radio" id="dark" name="theme" value="dark" />
      <label for="dark">{{> "icons/moon"}}</label>
      <span></span>
    </form>
</div>