{{!-- Partners Component --}}
<section class="partners">
    <div class="partners-container">
        <div class="partners-header">
            <h2 class="partners-title">Magacoは下記の雑誌サービスと提携しています。</h2>
            <p class="partners-description">スコアやランキングでは見つからない「物語」を味わう体験を。食のプロが描く料理人の情熱や店の背景が、あなたの食の世界をより深く豊かにします。</p>
        </div>

        <div class="partners-logos">
         {{#get "groups"}}
            {{#foreach groups}}
            {{#if logo_image}}
              <div class="partners-logo">
                <img src="{{img_url logo_image}}" alt="{{name}}" class="partners-logo-img">
              </div>
            {{/if}}
            {{/foreach}}
          {{/get}}
        </div>
    </div>
</section>
