{{!-- Pickup Tabs Component --}}
<div class="pickup-tabs">
    <div class="pickup-tabs__item">
        <a href="/" class="pickup-tabs__link pickup-tabs__link--active">
            投稿日順
        </a>
    </div>
    <div class="pickup-tabs__item">
        <a href="/onsale" class="pickup-tabs__link">
            開封レビュー
        </a>
    </div>
    <div class="pickup-tabs__item">
        <a href="/calendar/" class="pickup-tabs__link">
            発売カレンダー
        </a>
    </div>
</div>
