{{!--
Popular Articles Component
Usage: {{> "components/popular-articles" posts=posts class="custom-class" showPagination=true pagination=pagination}}

Parameters:
- posts: Array of post objects to display (required)
- class: Additional CSS classes (optional)
- showPagination: Boolean to show pagination (optional, default: false)
- pagination: Pagination object (optional, required if showPagination is true)
--}}

<section class="author-section author-popular-section {{#if class}}{{class}}{{/if}}">
    <div class="author-section-container">
        <div class="author-section-header">
            <span class="author-section-label">Ranking</span>
            <h2 class="author-section-title">人気の記事</h2>
            <p class="author-section-description">今、注目を集めている話題を厳選。<br />Magacoがおすすめする、読まれている人気の記事をご紹介します。</p>
        </div>
        {{#if posts}}
        <div class="author-section-grid">
            {{#foreach posts}}
                {{> "components/card" post=this class="author-post-card author-post-card--popular"}}
            {{/foreach}}
        </div>
        {{/if}}
        {{#if showPagination}}
        {{#if pagination}}
        <div class="author-pagination-wrapper">
            {{> "components/pagination" pagination=pagination class="author-pagination" showLoadMore=true}}
        </div>
        {{/if}}
        {{/if}}
    </div>
</section>