<div class="wrap top_widget">
    <div id="block-2" class="widget widget_block">
        <form id="searchform" class="searchform" role="search" action="{{@site.url}}" method="get">
            <div>
                <input id="s" name="s" type="search" value="" placeholder="雑誌名、付録名をご入力ください">
                <button id="searchsubmit" type="submit"><i class="fa fa-search"></i></button>
            </div>
        </form>
    </div>
    <div id="block-3" class="widget widget_block">
        <div align="right">
            <a href="https://twitter.com/furoku_life" target="_blank"><img decoding="async" src="https://furoku.life/wp-content/uploads/2020/07/logo_twitter_150x150.png" alt="" width="50" height="50"></a> <a href="https://www.instagram.com/furoku.life/" target="_blank"><img decoding="async" src="https://furoku.life/wp-content/uploads/2020/07/logo_Instagram_150x150.png" alt="" width="50" height="50"></a>
        </div>
    </div>
</div>
