<div class="wrap top_widget">
    <div id="block-2" class="widget widget_block">
        {{> "widgets/search"}}
    </div>
    <div id="block-3" class="widget widget_block">
        <div align="right">
            <a href="https://twitter.com/furoku_life" target="_blank"><img decoding="async" src="{{asset "images/twitter-logo.png"}}" alt="Twitter" width="50" height="50"></a> <a href="https://www.instagram.com/furoku.life/" target="_blank"><img decoding="async" src="{{asset "images/instagram-logo.png"}}" alt="Instagram" width="50" height="50"></a>
        </div>
    </div>
</div>
