<div class="search-form">
    <input
        name="q"
        type="search"
        placeholder="{{#if placeholder}}{{placeholder}}{{else}}渋谷　中華{{/if}}"
        class="search-form-input"
        {{#if inputId}}id="{{inputId}}"{{else}}id="search-form-input"{{/if}}
    >
    <button type="submit" class="search-form-btn">検索</button>
</div>
