<div class="gh-card gh-plan-card {{plan}}">
  <h3>{{plan}}</h3>
  <div class="gh-signup-amount-interval">
  {{#match plan "!=" "none"}}
    {{#match plan "monthly"}}
      <div class="gh-signup-default">
        <span class="gh-signup-amount">$10</span><span class="gh-signup-interval">/month</span>
        <div class="gh-pwyw">or <button id="pwyw-monthly" class="button-reset">pay what you want</button></div>
      </div>
      {{> "components/custom-subscription-input" plan="monthly" interval="month"}} 
    {{/match}}
    {{#match plan "annual"}}
      <div class="gh-signup-default">
        <span class="gh-signup-amount">$100</span><span class="gh-signup-interval">/year</span>
        <div class="gh-pwyw">or <button id="pwyw-annual" class="button-reset">pay what you want</button></div>
      </div>
      {{> "components/custom-subscription-input" plan="annual" interval="year"}} 
    {{/match}}
    {{#match plan "founding"}}
      <div class="gh-signup-default">
        <span class="gh-signup-amount">$250</span><span class="gh-signup-interval">/year</span>
        <div class="gh-pwyw">or <button id="pwyw-founding" class="button-reset">pay what you want</button></div>
      </div>
      {{> "components/custom-subscription-input" plan="founding" interval="year"}} 
    {{/match}}
  {{else}}
    <span class="gh-signup-interval">Free</span>
  {{/match}}
  </div>
  <ul class="gh-signup-perks">
    <li>Receive all posts</li>
    {{#match plan "!=" "none"}}
    <li>Leave comments</li>
    {{/match}}
    {{#match plan "founding"}}
    <li>Get that warm fuzzy feeling that comes from so generously supporting my work</li>
    <li>Put that employer-sponsored education budget to good use</li>
    {{/match}}
  </ul>
  <div class="gh-signup-button-wrapper">
    {{#match plan "monthly"}}
      <a class="gh-signup-choose gh-button disabled" id="choose-monthly" href="javascript:" data-portal="signup/658cc24f9458ad1f4271e4c0/monthly">Choose <div class="gh-signup-loader hidden">{{> "icons/loader"}}</div></a>
    {{/match}}
    {{#match plan "annual"}}
      <a class="gh-signup-choose gh-button disabled" id="choose-annual" href="javascript:" data-portal="signup/658cc24f9458ad1f4271e4c0/yearly">Choose <div class="gh-signup-loader hidden">{{> "icons/loader"}}</div></a>
    {{/match}}
    {{#match plan "founding"}}
      <a class="gh-signup-choose gh-button disabled" id="choose-founding" href="javascript:" data-portal="signup/658cc2929458ad1f4271e4c5/yearly">Choose <div class="gh-signup-loader hidden">{{> "icons/loader"}}</div></a>
    {{/match}}
    {{#match plan "none"}}
      <button class="gh-signup-choose gh-button disabled" type="submit" disabled>Choose <div class="gh-signup-loader hidden">{{> "icons/loader"}}</div></button>
    {{/match}}
  </div>
</div>