<form name="theme" class="toggle" role="radiogroup">
  <input type="radio" name="theme" id="light" value="light" role="radio" aria-checked="false" />
  <label for="light" title="Light mode">{{> "icons/sun"}}</label>
  <input type="radio" name="theme" id="automatic" value="automatic" role="radio" aria-checked="false" />
  <label for="automatic" title="Default">{{> "icons/cancel"}}</label>
  <input type="radio" name="theme" id="dark" value="dark" role="radio" aria-checked="false" />
  <label for="dark" title="Dark mode">{{> "icons/moon"}}</label>
  <span></span>
</form>